@import './base.css';

#app {
  width: 100%;
  margin: 0 auto;
  padding: 0;  
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    place-items: center;
    padding: 0;
  }
}
